<%- include('../partials/header.ejs') %>
<div class="container">
    <div class="card mt-4">
        <div class="body" style="padding: 10px;">
            <div class="row">
                <div class="col">
                    <h4 class="card-title"><%= article.title %></h4>
                </div>
                <div class="col text-right">
                    <a href="/" class="btn btn-secondary">All Articles</a>
                    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                </div>
            </div>
            <div class="card-subtitle text-muted mb-2"><%= article.createdAt.toLocaleString() %></div>
            <div class="card-text mb-2"><%- article.sanitizedHtml %></div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %> 